USE [master]
GO
/****** Object:  Database [CE_ArquitecturaNCapas]    Script Date: 5/6/2023 12:39:44 ******/
CREATE DATABASE [CE_ArquitecturaNCapas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CE_ArquitecturaNCapas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CE_ArquitecturaNCapas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CE_ArquitecturaNCapas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CE_ArquitecturaNCapas_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CE_ArquitecturaNCapas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CE_ArquitecturaNCapas]
GO
/****** Object:  Table [dbo].[CONTACTO]    Script Date: 5/6/2023 12:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTO](
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [datetime] NULL,
	[Nombre] [varchar](40) NULL,
	[Telefono] [varchar](40) NULL,
 CONSTRAINT [PK_CONTACTO] PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONTACTO] ON 

INSERT [dbo].[CONTACTO] ([IdContacto], [FechaNacimiento], [FechaRegistro], [Nombre], [Telefono]) VALUES (2, CAST(N'1984-11-03' AS Date), NULL, N'Jonathan', N'1234567')
SET IDENTITY_INSERT [dbo].[CONTACTO] OFF
GO
USE [master]
GO
